.menu {
    position: absolute;
    top: 0;
    right: 25px;
}

.menu-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: start;
}

.links {
    transform: translate(75px, 175px);
}

body{
    /* background-color: rgb(13, 13, 125); */
    background: radial-gradient(farthest-corner at 40px 40px,
    darkblue 20% , dodgerblue);
    padding: 100%;
    padding-left: 0%;
    padding-top: 0%;
    overflow: hidden;
}

#large-logo{
    width: 650px;
    transform: translateX(-250px);
    position: absolute;
    object-fit: contain;
    -webkit-user-drag: none;
}

.option{
    font-size: 100px;
    font-family: "Montserrat";
    font-weight: bold;
    color: aliceblue;
    text-wrap: nowrap;
    z-index: 1;
    position: absolute;
    user-select: none;
    transition: opacity 200ms ease, transform 300ms ease;
    text-decoration: none;
    white-space: nowrap; /* Firefox */
}

h1{
    font-size: 200px;
    font-family: "Montserrat";
    position: absolute;
    color: aliceblue;
}

#team-name{
    transform: translate(350px, -100px);
    text-wrap: nowrap;
    white-space: nowrap; /* Firefox */
    font-weight: lighter;
}

#team-number{
    transform: translate(1180px, 100px);
    font-weight: bolder;
}

/* .links:has(.option:hover) .option:not(.option:hover){
    opacity: 0.2;
}
.links:has(.option:hover) .option:hover{
    transform: translateY(-5px);
} */

.letter{
    /* position: absolute; */
    display: inline-block;
}

#About-Us{
    margin-left: 300px;
    margin-top: 200px;
}

#Events{
    margin-left: 350px;
    margin-top: 325px;
}

#Projects{
    margin-left: 375px;
    margin-top: 450px;
}

#Sponsors{
    margin-left: 350px;
    margin-top: 575px;
}

#Contact-Us{
    margin-left: 300px;
    margin-top: 700px;
}

.space{
    padding-left: 25px;
    display: inline-block;
}

* {
    /* outline: 1px solid red; */
}