body{
    background: radial-gradient(farthest-corner at 40px 40px,
    darkblue 20% , dodgerblue);
    padding: 100%;
    padding-left: 0%;
    padding-top: 0%;
    overflow: hidden;
    zoom: 70%;
}

h1{
    color: antiquewhite;
    margin-bottom: 755px;
}